pyinstaller --hidden-import av --hidden-import matplotlib --hidden-import torch --hidden-import f2py --hidden-import matplotlib.pyplot -p 'C:\Program Files\Python39\libs' -p 'C:\Users\msi\AppData\Roaming\Python\Python39\site-packages' -p 'C:\Users\msi\AppData\Roaming\Python\Python39\site-packages\torchaudio' -p 'C:\Users\msi\AppData\Roaming\Python\Python39\site-packages\torchvision','C:\Users\msi\AppData\Roaming\Python\Python39\site-packages\torch'  --onefile main.py